@{
    ViewData["Title"] = "Thank you, order shipped ";
}
<h1>@ViewData["Title"]</h1>
<div>
<span>
    @using (Html.BeginForm("Catalog", "Caars", FormMethod.Get))
               {
                   <input type="hidden"/>
                  <button  type="submit">Return to shoping</button>
               }
 </span>
</div>